@font-face {
    font-family: Cinzel;
    src: url("assets/Cinzel/Cinzel-VariableFont_wght.ttf");
}


html, body{
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;            
    margin: 0;
    padding: 0;
    gap: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    height: 200vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #55b672;
    gap: 0;
}

.Tete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Important */
    width: 100%; /* Doit prendre toute la largeur */
    padding: 10px 0;
}

.Logo-Container, .Empty-Space {
    flex: 1; /* Ils vont "pousser" avec la même force des deux côtés */
    display: flex;
}

.Logo-Container {
    justify-content: flex-end;
    width: auto;
    height: 80px;

}

.Empty-Space {
    justify-content: flex-end;
}

header h1 {
    flex: 0 0 auto; 
    font-family: Cinzel, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
}

h1 .TitreL1 {
    text-transform: uppercase; letter-spacing: 0.10em; font-weight: 400s;
    color: black;
}

h1 .TitreL2 {
    font-size: small;
    text-transform: uppercase; letter-spacing: 0.15em; font-weight: bolder;
    color : rgb(179, 179, 179);

}

.NavBar {
    width: 100%;
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: space-around; 
    color: black;
    gap: 0; 
}

.NavBar a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.NavBar a:hover
{
    text-decoration: underline;
}

.NavBar .active {
    text-decoration: underline;
    font-weight: bolder;
}




